.single-column {
    display: none;
}

.services-card {
    width: 48%;
    padding: 0;
    position: relative;
    display: block;
    min-height: 30vh;
    margin-bottom: 2%;
}

.services-card .mat-card-title {
    height: 50px;
    line-height: 50px;
    width: 95%;
    padding-left: 5%;
    background: #d7afaf;
    color: #313b47;
    letter-spacing: .1em;
    font-size: 18px;
    display: block;
}

.services-card .mat-card-subtitle {
    padding: 0 5%;
}

.services-card .mat-card-content {
    padding-left: 5%;
    height: 100px;
}

.supplier-card {
    width: 48%;
    padding: 0;
    position: relative;
    display:block;
    float: left;
    min-height: 52vh;
    margin-bottom: 2%;
}


.supplier-title {
    font-size: 18px;
    letter-spacing: .1em;
    display: block;
    width: 95%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    padding-left: 5%;
    background: #d7afaf;
    color: #313b47;
}
.supplier-card .mat-card-content {
    padding: 2% 5%;
    height: 260px
}
.mat-card-content span {
    display: block;
    height: 25px;
    line-height: 25px;
}
.center-span {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}

.left-card-list {
    float: left;
    width: 49%;
    position: relative;
    left: 0;
    top: 0;
}

.right-card-list {
    float: right;
    width: 49%;
    position: relative;
    right: 0;
    top: 0;

}

.contact-us-card button {
    position: absolute;
    bottom: 3.5%;
    left: 3.5%;
    right: 3.5%;
    width: 93%;
    background: #d2c0c0;
    font-size: 15px;
    letter-spacing: .1em;
    color: #313b47;
}

.contact-us-card button:hover {
    border: 2px solid #313b47;
}

@media (max-width: 680px) {
    .services-card, .supplier-card {
        width: 90%;
        float: none;
        margin: 3% auto;
    }
}









