.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(64px + 3%);
    overflow: scroll;
}

.mat-card {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 44%;
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom:4%;
    min-height: 400px;
}
.mat-card:last-child {
    margin-top: 0;
}

.mat-card-title {
    font-size: 18px;
    letter-spacing: .1em;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    padding-left: 5%;
    background: #d7afaf;
    color: #313b47;
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.mat-card-content {
    position: absolute;
    bottom:5%;
    left:10%;
    right:10%;
    top:50px;
    padding-top: 5%;
    height: auto;
}

.mat-card-content span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 50%;
    text-transform: capitalize;
}

.mat-card-content button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #d2c0c0;
    font-size: 15px;
    letter-spacing: .1em;
    color: #313b47;
}

.mat-card-content button:hover {
    border: 2px solid #313b47;
}

@media (max-width: 680px) {
    .mat-card {
        display: block;
        width: 90%;
        float: none;
        margin: 3% auto;
    }
    .container {
        bottom: 64px;
    }

}









