
<mat-grid-list cols="3" rowHeight="5:3" class="big-images footer-images">
    <mat-grid-tile routerLink="/the-team" class="reliability">
      <span >
        reliability
      </span>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/ifs-services" class="workmanship">
      <span>
        workmanship
      </span>
    </mat-grid-tile>
    <mat-grid-tile routerLink="" class="experience">
      <span>
        experience
      </span>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="1" rowHeight="5:3" class="small-images footer-images">
    <mat-grid-tile routerLink="/the-team" class="reliability">
      <span >
        reliability
      </span>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/ifs-services" class="workmanship">
      <span>
        workmanship
      </span>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/" class="experience">
      <span>
        experience
      </span>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-divider></mat-divider>


<footer>Copyright © IFS Flooring. All rights reserved.</footer>
