
.team-bar {
    color:#313b47; 
    background:  #d7afaf;
    margin: 0 auto;
    width: 98%;
    font-size: 18px;
}
.container {
    position: relative;
    display: block;

}
.mat-grid-list {
    position: absolute;
    top: 1vh;
    width: 100%;
    overflow: visible;
    margin-bottom: 17vh;
    
}
.mat-grid-tile {
    min-height: 64vh;
    padding: 0;
    margin-bottom: 5%;
    overflow: visible;
}
.mat-grid-tile:last-child {
    margin-top: 0;
}
.mat-card {
    height: 95%;
    width: 100%;
    margin: 3%;
    padding: 0;
}
.mat-card-header {
    margin: 0 4%;
    padding: 0;
    height: 10%;
    width: 100%;
}

.mat-card-title {
    padding: 6% 0;
    margin: 0;
}
.mat-card-subtitle {
    padding:0;
    margin: 0;
}
.mat-card-image {
    height: 45%;
    width: auto;
    margin: 0 auto;
    display: block;
}

.mat-card-content {
    height: 25%;
    margin: 6%;
}
.mat-card-actions {
    position: absolute;
    bottom: 0;
    height: 9%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0!important;
}
.mat-card-actions a {
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: #313b47;
    text-transform: capitalize;
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    position: absolute;
    bottom: 15px;
    background: #d7afaf;
}
.mat-card-actions a:last-child {
    right: 7.5%;
}
.mat-card-actions a:first-child {
    left: 7.5%;
}
.mat-card-actions a:hover {
    border: 2px solid #313b47;
}
@media (max-width:1200px) {
    .mat-grid-tile:last-child {
        margin-top: 0;
    }
}
@media (max-width:600px) {

    .mat-grid-list {
        margin-bottom: 18vh;
        height: auto;
    }
    .mat-grid-tile {
        min-height: 60vh;
        position: relative;
        top: unset!important;
        margin: 0;
    }
}