<div class="team-grid-container">
  <mat-toolbar class="team-bar">The Team</mat-toolbar>
    <mat-grid-list class="big-team" cols="3" rowHeight="80vw" gutterSize="0">
        <mat-grid-tile class="the-team-tile">
            <mat-card class="the-team-card">
                <mat-card-header>
                    <mat-card-title>
                        Glen Musser
                      </mat-card-title>
                      <mat-card-subtitle>
                        Owner - Tucson Location
                      </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/TheTeam/GlenMusser.jpeg" alt="Glen Musser">
                <mat-card-content>
                    Glen brings over 30 years of sales and installation experience to the Tucson marketplace where he is well known in the commercial flooring community. His ability to manage a focused team of flooring professionals has promoted IFS to be one of the largest commercial flooring dealers in southern Arizona.
                </mat-card-content>
                <mat-card-actions class="card-contact">
                    <button mat-button>CALL</button>
                    <button mat-button>EMAIL</button>
                  </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
      
        <mat-grid-tile class="the-team-tile">
            <mat-card class="the-team-card">
                <mat-card-header>
                    <mat-card-title>
                        Pete Perry
                      </mat-card-title>
                      <mat-card-subtitle>
                        Owner - Phoenix Location
                      </mat-card-subtitle>
                </mat-card-header>
                    <img mat-card-image src="../../assets/TheTeam/PetePerry.jpeg" alt="Pete Perry">
                <mat-card-content>
                    Pete has over 30 years of commercial flooring experience in the Phoenix metro marketplace. Throughout his sales career, Pete has maintained a comprehensive network in the construction industry. His extensive knowledge of product manufacturing and his value engineering expertise offer his customers a complete package.
                </mat-card-content>
                <mat-card-actions class="card-contact">
                    <button mat-button>CALL</button>
                    <button mat-button>EMAIL</button>
                  </mat-card-actions>
              </mat-card>
          </mat-grid-tile>
      
          <mat-grid-tile class="the-team-tile">
              <mat-card class="the-team-card" :end>
                  <mat-card-header>
                      <mat-card-title>
                          Wanda Houle
                        </mat-card-title>
                        <mat-card-subtitle>
                            CFO - Phoenix Location
                        </mat-card-subtitle>
                  </mat-card-header>
          
                  <img mat-card-image src="../../assets/TheTeam/WandaHoule.jpeg" alt="Wanda Houle">
                  <mat-card-content>
                      She has worked for various commercial flooring dealers as a senior project manager and office manager. Her widespread knowledge of the industry from construction start up to project completion is a benefit to the overall flow of the organization.
                  </mat-card-content>
                  <mat-card-actions class="card-contact">
                      <button mat-button>CALL</button>
                      <button mat-button>EMAIL</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list class="medium-team" cols="2" rowHeight="1:2" gutterSize="0">
          <mat-grid-tile class="the-team-tile">
              <mat-card class="the-team-card">
                  <mat-card-header>
                      <mat-card-title>
                          Glen Musser
                        </mat-card-title>
                        <mat-card-subtitle>
                          Owner - Tucson Location
                        </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/TheTeam/GlenMusser.jpeg" alt="Glen Musser">
                  <mat-card-content>
                      Glen brings over 30 years of sales and installation experience to the Tucson marketplace where he is well known in the commercial flooring community. His ability to manage a focused team of flooring professionals has promoted IFS to be one of the largest commercial flooring dealers in southern Arizona.
                  </mat-card-content>
                  <mat-card-actions class="card-contact">
                      <button mat-button>CALL</button>
                      <button mat-button>EMAIL</button>
                    </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
        
          <mat-grid-tile class="the-team-tile">
              <mat-card class="the-team-card">
                  <mat-card-header>
                      <mat-card-title>
                          Pete Perry
                        </mat-card-title>
                        <mat-card-subtitle>
                          Owner - Phoenix Location
                        </mat-card-subtitle>
                  </mat-card-header>
                      <img mat-card-image src="../../assets/TheTeam/PetePerry.jpeg" alt="Pete Perry">
                  <mat-card-content>
                      Pete has over 30 years of commercial flooring experience in the Phoenix metro marketplace. Throughout his sales career, Pete has maintained a comprehensive network in the construction industry. His extensive knowledge of product manufacturing and his value engineering expertise offer his customers a complete package.
                  </mat-card-content>
                  <mat-card-actions class="card-contact">
                      <button mat-button>CALL</button>
                      <button mat-button>EMAIL</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        
            <mat-grid-tile class="the-team-tile">
                <mat-card class="the-team-card">
                    <mat-card-header>
                        <mat-card-title>
                            Wanda Houle
                          </mat-card-title>
                          <mat-card-subtitle>
                              CFO - Phoenix Location
                          </mat-card-subtitle>
                    </mat-card-header>
            
                    <img mat-card-image src="../../assets/TheTeam/WandaHoule.jpeg" alt="Wanda Houle">
                    <mat-card-content>
                        She has worked for various commercial flooring dealers as a senior project manager and office manager. Her widespread knowledge of the industry from construction start up to project completion is a benefit to the overall flow of the organization.
                    </mat-card-content>
                    <mat-card-actions class="card-contact">
                        <button mat-button>CALL</button>
                        <button mat-button>EMAIL</button>
                      </mat-card-actions>
                  </mat-card>
              </mat-grid-tile>
        </mat-grid-list>

        
        <div class="small-team">
            <mat-card class="the-team-card">
                <mat-card-header>
                    <mat-card-title>
                        Glen Musser
                      </mat-card-title>
                      <mat-card-subtitle>
                        Owner - Tucson Location
                      </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/TheTeam/GlenMusser.jpeg" alt="Glen Musser">
              </mat-card>

                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Learn More About Glen
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>
                          Glen brings over 30 years of sales and installation experience to the Tucson marketplace where he is well known in the commercial flooring community. His ability to manage a focused team of flooring professionals has promoted IFS to be one of the largest commercial flooring dealers in southern Arizona.
                      </p>
                      <div class="expansion-buttons">
                          <button mat-button>CALL</button>
                          <button mat-button>EMAIL</button>
                      </div>

                    </mat-expansion-panel>
                    
              
              <mat-divider></mat-divider>

              <mat-card class="the-team-card">
                  <mat-card-header>
                      <mat-card-title>
                          Pete Perry
                        </mat-card-title>
                        <mat-card-subtitle>
                            Owner - Phoenix Location
                        </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/TheTeam/PetePerry.jpeg" alt="Pete Perry">
                </mat-card>
  
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Learn More About Pete
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Pete has over 30 years of commercial flooring experience in the Phoenix metro marketplace. Throughout his sales career, Pete has maintained a comprehensive network in the construction industry. His extensive knowledge of product manufacturing and his value engineering expertise offer his customers a complete package.
                        </p>
                        <div class="expansion-buttons">
                            <button mat-button>CALL</button>
                            <button mat-button>EMAIL</button>
                        </div>
  
                      </mat-expansion-panel>
                
                  <mat-divider></mat-divider>

                  <mat-card class="the-team-card">
                      <mat-card-header>
                          <mat-card-title>
                              Wanda Houle
                            </mat-card-title>
                            <mat-card-subtitle>
                                CFO - Phoenix Location
                            </mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../assets/TheTeam/WandaHoule.jpeg" alt="Wanda Houle">
                    </mat-card>
      
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Learn More About Wanda
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                She has worked for various commercial flooring dealers as a senior project manager and office manager. Her widespread knowledge of the industry from construction start up to project completion is a benefit to the overall flow of the organization.
                            </p>
                            <div class="expansion-buttons">
                                <button mat-button>CALL</button>
                                <button mat-button>EMAIL</button>
                            </div>
      
                          </mat-expansion-panel>
                  
                    <mat-divider></mat-divider>
              </div>


</div>
<ifs-footer></ifs-footer>


