.mat-toolbar {
    width: unset;
    margin: 2% 3%;
    background: #d7afaf;
    color: #5b6572;
}

.gallery-card {
    position: absolute;
    display: block;
    top: calc(64px + 6%);
    bottom: 3%;
    left: 3%;
    right: 3%;
    overflow: hidden;
    margin:0;
    padding: 0;
}


.gallery-card .mat-card-content {
  overflow: scroll;
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 2%;
  right: 2%;
}

ngx-masonry {
    margin: 0;
    width:100%;
}

.masonry-item {
    margin-bottom: 1%;
    margin-left: 1%;
    background-color: #313b47;
    width:32%;

}

.masonry-item img {
    width:100%;
    display:block;
    cursor: pointer;
}

@media (max-width: 800px) {
    .masonry-item {
        width: 48%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
}

@media (max-width: 500px) {
    .masonry-item {
       width: 100%;
    }
}
