
.gallery-card {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin:0;
    padding: 0;
}
.gallery-card .mat-card-title {
    height: 64px;
    background: #d7afaf;
    color: #5b6572;
    padding-left: 3%;
    line-height: 64px;
    margin-bottom: 10px;
    font-size: 1.1em;
}


.gallery-card .mat-card-content {
  position: relative;
  padding-left: 10px;
}

ngx-masonry {
    margin: 0 auto;
    width:100%;
}

.masonry-item {
    margin-bottom: 10px;
    background-color: #313b47;
    width:calc(33.333% - 10px);
    border-radius: 2px;
    overflow: hidden;
}

.masonry-item img {
    width:100%;
    display:block;
    cursor: pointer;
}

@media (max-width: 800px) {
    .masonry-item {
        width:calc(50% - 10px);
        margin-bottom: 10px;
    }
}
@media (max-width:600px) {
    .gallery-card .mat-card-title {
        height: 56px;
        line-height: 56px;
    }
}
@media (max-width: 500px) {
    .masonry-item {
       width: 100%;
       margin-left: 0;
    }
    .gallery-card .mat-card-content {
        padding: 0 2%;
    }
}
