

<div class=container>
    <mat-toolbar class="mat-elevation-z1">
        Recently Completed Work
      </mat-toolbar>
  <mat-card class="gallery-card">
    <mat-card-content>
  
          <ngx-masonry [updateLayout]="true" [options]="masonryOptions" [useImagesLoaded]="true"  >
              <ngxMasonryItem *ngFor="let img of imageData; let i = index" (click)="lightbox.open(0, 'lightbox')" class="masonry-item">
                <img [src]="img.srcUrl">
              </ngxMasonryItem>
            </ngx-masonry> 
  
        
    </mat-card-content>
  </mat-card>
</div>
