.flex-grid {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
.contact {
    width: 48%;
    padding: 0;
    display:block;
    min-height:550px;
    position: relative;
}

.contact .mat-card-title {
    font-size: 16px;
    display: flex;
    height: 56px;
    line-height: 56px;
    margin-bottom: 0;
    padding-left: 5%;
    background: #d7afaf;
    color: #5b6572;
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.contact .mat-card-content {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:50px;
    padding: 5%;
    box-sizing: border-box;
}


.submit-button {
    position: absolute;
    bottom: 1%;
    left: 1%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    right: 1%;
    background: #d7afaf;
    font-size: 15px;
    color: #5b6572;
    cursor: pointer;
}

.submit-button:hover {
    background: #5b6572;
    color: #d7afaf;
}

.submit-button.disabled {
    cursor: default;
    color: rgba(0,0,0,.3);
    background: rgba(0,0,0,.3);
}

.submit-button.disabled:hover {
    border: none;
    outline: none;
}

.mat-form-field {
    font-size: 16px;
}
.label {
    font-size: 10px;
}


.full-width {
    width:100%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select:focus,
    textarea:focus,
    input:focus {
      font-size: 16px;
    }
  }
@media (max-width:800px) {
    .contact {
        width: 100%;
    }
}