
.contact {
    width: 48%;
    padding: 0;
    display:block;
    min-height:550px;
    position: absolute;
    top:4%;
    right:4%;
}

.contact .mat-card-title {
    font-size: 18px;
    letter-spacing: .1em;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    padding-left: 5%;
    background: #d7afaf;
    color: #313b47;
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.contact .mat-card-content {
    position: absolute;
    bottom:5%;
    left:10%;
    right:10%;
    top:50px;
    padding-top: 5%;
}


.submit-button {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    right: 0;
    width: 100%;
    background: #d7afaf;
    font-size: 15px;
    letter-spacing: .1em;
    color: #313b47;
    cursor: pointer;
}

.submit-button:hover {
    outline: 2px solid #d7afaf;
    background: transparent;
    color: #d7afaf;
}

.submit-button.disabled {
    cursor: default;
    color: rgba(0,0,0,.3);
    background: rgba(0,0,0,.3);
}

.submit-button.disabled:hover {
    border: none;
    outline: none;
}

.mat-form-field {
    font-size: 15px;
}
.label {
    font-size: 10px;
}


.full-width {
    width:100%;
}

@media (max-width:800px) {
    .contact {
        left: 5%;
        right: 5%;
        width: 90%;
    }
}