<mat-card class="contact">
  <mat-card-title class="mat-elevation-z2">
    Send Us A Message
  </mat-card-title>
  <mat-card-content>
      <form class="contact-form" [formGroup]="contact" (ngSubmit)="onSubmit()" >
          <mat-form-field class="full-width name-input">
              <input matInput placeholder="Name" formControlName="name" required >
            </mat-form-field>
        
          <mat-form-field class="full-width email-input">
            <input matInput placeholder="Email" formControlName="email" required >
          </mat-form-field>
        
          <mat-form-field class="full-width subject-input">
              <input matInput placeholder="Subject" formControlName="subject"
                     required >
            </mat-form-field>
        
            <mat-form-field class="full-width message-input">
                <textarea matInput matAutosizeMaxRows="20"
                matAutosizeMinRows="10"
                matTextareaAutosize 
                placeholder="Contact us today!" 
                formControlName="message" 
                 
               required ></textarea>
              </mat-form-field>
              <button mat-button [class.disabled]="contact.invalid" [disabled]="contact.invalid">Submit</button>
        </form>
  </mat-card-content>
</mat-card>