<mat-toolbar class="header" color="primary">
    <button
    class="navbar-toggler"
    type="button"
    aria-label="Toggle sidenav"
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <span>
    <a routerLink="/home">
      <div class="logo-button">
      </div>
    </a>
    </span>
    IFS Flooring, LLC
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link">Home</a>
      <a mat-list-item routerLink="/the-team" routerLinkActive="active-link">The Team</a>
      <a mat-list-item routerLink="/ifs-services" routerLinkActive="active-link">Services</a>
      <a mat-list-item routerLink="/concrete-surfacing" routerLinkActive="active-link">Concrete Surfacing</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active-link">Contact</a>
      <a mat-list-item routerLink="/gallery" routerLinkActive="active-link">Gallery</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
