<mat-toolbar class="header mat-elevation-z.5" color="primary">
    <button
    class="navbar-toggler"
    type="button"
    aria-label="Toggle sidenav"
    (click)="drawer.toggle()"
    *ngIf="isNavHideSize$| async">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <span>
    <a routerLink="/home">
      <div class="logo-button">
      </div>
    </a>
    </span>
    IFS Flooring, LLC
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav mat-elevation-z5"
    fixedInViewport="false"
    [attr.role]="(isNavHideSize$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isNavHideSize$ | async) ? 'over' : 'side'"
    [opened]="!(isNavHideSize$ | async)">
    <mat-nav-list class="bigger-nav">
      <a mat-list-item routerLink="/home" routerLinkActive="active-link mat-elevation-z.5">Home</a>
      <a mat-list-item routerLink="/the-team" routerLinkActive="active-link mat-elevation-z.5">The Team</a>
      <a mat-list-item routerLink="/ifs-services" routerLinkActive="active-link mat-elevation-z.5">Services</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active-link mat-elevation-z.5">Contact</a>
      <a mat-list-item routerLink="/ifs-gallery" routerLinkActive="active-link mat-elevation-z.5">Gallery</a>
    </mat-nav-list>
    <mat-nav-list class="smaller-nav" (click)="drawer.toggle()">
      <a mat-list-item routerLink="/home" routerLinkActive="active-link mat-elevation-z.5">Home</a>
      <a mat-list-item routerLink="/the-team" routerLinkActive="active-link mat-elevation-z.5">The Team</a>
      <a mat-list-item routerLink="/ifs-services" routerLinkActive="active-link mat-elevation-z.5">Services</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active-link mat-elevation-z.5">Contact</a>
      <a mat-list-item routerLink="/ifs-gallery" routerLinkActive="active-link mat-elevation-z.5">Gallery</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
