.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 999;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #5b6572;
  color: #d7afaf;
}
.mat-toolbar a {
  display: -webkit-inline-flex;
  color: #d7afaf;
  text-decoration: none;
  height: 64px;
  width: 280px;
  box-sizing: border-box;
}
.mat-toolbar a:hover {
  cursor: pointer;
}
.mat-toolbar .company-name {
  font-weight: 70;
  font-size: 16px;
  letter-spacing: -1%;
  text-transform: uppercase;
  padding-left: 5px;
  height: 100%;
  line-height: 68px;
  display: -webkit-inline-flex;
}
.mat-toolbar img {
  display: -webkit-inline-flex;
  height: auto;
  width: 64px;
}

.sidenav {
  position: fixed;
  width: 280px;
  left:0;
  top: 64px;
  bottom: 0;
}
.mat-nav-list {
  padding-top: 0;
}
.mat-list-item {
  height: 64px!important;
  color: #5b6572;
  font-weight: 100;
}
.mat-list-item:hover, .mat-list-item:focus {
  outline: none!important;
  border: none!important;
  background: #d7afaf!important;
}
.active-link {
  background: #d7afaf;
  color: #5b6572;
  font-weight: 600;
}
.mat-sidenav-content {
  overflow: scroll;
  position: absolute;
  left: 0;
  right: 0;
  top:64px;
  bottom:0;
  box-sizing: border-box;
  padding: 1%;
}
.mat-drawer-content {
  height: auto;
}
.sidenav-container {
  min-height: 100%;
}

@media (max-width:950px) {
  .mat-toolbar {
    padding: 0;
  }
   .mat-toolbar a {
    display: flex;
    flex-flow: row-reverse;
    justify-content: right;
    padding-right: 2%;
    width: 100%;
  }
  .mat-toolbar .company-name {
    margin-right: 2%;
    padding-left: 0;
  }
  .mat-toolbar button {
    width: 140px;
    height: 64px;
    box-sizing: border-box;
    color: #d7afaf;
    display: -webkit-inline-flex;
    border: none;
    outline: none;
    box-shadow: none;
    background: #5b6572;
    cursor: pointer;
  }

  .mat-icon {
    height:64px;
    width: 35px;
    color: #d7afaf;
  }
}
@media (max-width:600px) {
  .sidenav {
    width: 75%;
    top: 56px;
  }
  .mat-list-item {
    height: 56px!important;
  }
  .mat-toolbar img {
    width: 56px;
  }
  .mat-toolbar button, .mat-icon, .mat-toolbar a {
    height: 56px;
  }
  .mat-toolbar .company-name {
    line-height: 60px;
  }
  .mat-nav-list .mat-list-item {
    width : 100%;
  }
  .mat-sidenav-content {
    top: 56px;
  }
}
