.container {
    position: absolute;
    top: 0;
    left: 3%;
    right: 3%;
    bottom: calc(64px + 3%);
    overflow: scroll;
}
.big {
    margin-top: 3%;
}

.main-card {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding-top: 16px;
    padding-bottom:0;
    background: #d7afaf;
}
.mat-card-header a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.main-card:hover {
    background: transparent;

    color: #d7afaf;
}
.main-card .mat-card-title {
    font-size: 16px;
    text-transform: capitalize;

}
.mat-card-header a:hover {
    border: 2px solid #d7afaf;
}
.mat-card:hover .mat-card-subtitle{
    color: #d7afaf;
}
.main-card .mat-card-subtitle {
    font-size: 14px;
    font-style: italic;
}
.medium {
    display: none;
}

.slideshow {
    max-width: 100%;
    height: 40vw;
    margin: 2% auto;
}

.mat-expansion-panel {
    margin-bottom: 2%;
}

.mat-expansion-panel-header {
background: #d7afaf;
}

.mat-expansion-panel-header:hover, .mat-expansion-panel-header:focus  {
    background: transparent;
    color: #d7afaf;
    outline: 2px solid #d7afaf;
    margin: 0 2px;
    
}

.mat-panel-title {
    color: #313b47;
}
.mat-expansion-panel-header:hover .mat-expansion-panel-header-title, .mat-expansion-panel-header:hover .mat-expansion-panel {
    color: #d7afaf!important;
}

.mat-expansion-panel-header-description, span.mat-expansion-indicator::after,
span.mat-expansion-indicator:hover {
    color: #d7afaf!important;
}

.finish-options {
    margin-top: 2%;
    margin-bottom: 17vh;
}

@media (max-width: 680px) {
    .medium {
        display: block;
    }
    .big {
        display: none;
    }

}

.big-images {
    height: 10vw;
}

.mat-card-content {
    letter-spacing: .1em;
    font-size: 28px;
    font-style: italic;
    font-weight: 30;
    text-align: center;
    text-transform: capitalize;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 50%;
    color: #fff;

}

.value-cards {
    height: 10vw;


}

.value-card-sections {
    height: 100%;
    width: 100%;
    margin-right: 4%;

}
.value-cards:last-child .value-card-sections {
    margin-right: 0;
}
.value-card-sections:focus {
    outline: none;
}



.reliability:hover .mat-card-content{
    display: none;
}

.reliability .value-card-sections {
    background-image: url('../../assets/ValueButtons/reliablility.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4%;
    filter: grayscale(100%);
    cursor: pointer;
}

.reliability:hover .value-card-sections {
    filter:grayscale(0%);

}

.workmanship:hover .mat-card-content {
    display:none;
}

.workmanship .value-card-sections {
    background-image: url('../../assets/ValueButtons/workmanship.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4%;
    filter: grayscale(100%);
    cursor: pointer;
}

.workmanship:hover .value-card-sections {
    filter:grayscale(0%);
}

.experience:hover .mat-card-content{
    display:none;
}

.experience .value-card-sections {
    background-image: url('../../assets/ValueButtons/experience.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
    filter: grayscale(100%);
    cursor: pointer;
}

.experience:hover .value-card-sections {
    filter:grayscale(0%);
}



.small-images {
    display: none;
}

@media (max-width: 600px) {
    .small-images {
        display: block;
        height: 120vh;
    }
    .container {
        bottom: calc(56px + 3%);
    }
    .big-images {
        display:none;
    }
    .value-cards {
        height: 32.5%;
    }
    .reliability {
        top: 0;
    }
    .workmanship {
        top: 33%;
        margin-top: 1%;
    }
    .experience {
        top: 66%;
        margin-top: 2%;
    }
    .value-card-sections {
        margin-right: 0;
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }
    .workmanship .value-card-sections, .reliability .value-card-sections {
        margin-right: 0;
    }
    .mat-card-content {
        padding-top: 0;
        vertical-align: middle;
        display: table-cell;
        height: 313px;
        width:384px;
    }
    .finish-options {
        margin-top: 1%;
    }
}