

<div class="container">
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="80px" gutterSize="10">
    <mat-grid-tile *ngFor="let tile of banner;" [colspan]="tile.colspan">
      <a [href]="tile.link"></a>
      <div class="title"> {{ tile.title }} </div>
      <div class="subtitle"> {{ tile.subtitle }} </div>
    </mat-grid-tile>
  </mat-grid-list>
  
  <div class="slideshow">
      <slideshow 
      [imageUrls]="imageUrls"
      [autoPlay]="autoPlay"
      [autoPlayInterval]="autoPlayInterval"
      [showArrows]="showArrows"></slideshow>
  </div>

  <mat-expansion-panel >
      <mat-expansion-panel-header>
          <mat-panel-title>
            {{ expansOne.title }}
          </mat-panel-title>  
      </mat-expansion-panel-header>
        <p>{{ expansOne.pOne }}</p> 
        <p>{{ expansOne.pTwo }}</p>  
        <p>{{ expansOne.pThree }}</p> 
  </mat-expansion-panel>

  <mat-grid-list (window:resize)="onResize($event)" [cols]="valuecols" rowHeight="1.7:1" gutterSize="10" class="values">
      <mat-grid-tile *ngFor="let value of values;" [routerLink]="value.link" [style.background-image]="'url(' + value.imgSrc + ')'" [style.cursor]="'pointer'"  >
        <mat-card>
          <mat-card-content>
                  {{ value.value }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
  
  <mat-expansion-panel >
      <mat-expansion-panel-header>
          <mat-panel-title>
            {{ expansTwo.title }}
          </mat-panel-title>  
      </mat-expansion-panel-header>
        <p>{{ expansTwo.pOne }}</p> 
        <p>{{ expansTwo.pTwo }}</p>  
        <p>{{ expansTwo.pThree }}</p> 
  </mat-expansion-panel>
</div>


