
.mat-grid-list {
    margin-top: 0;
    margin-bottom: 1%;
}

.mat-grid-list.expansions , .expansions .mat-grid-tile {
    min-height: 60px;
    max-height: 300px;
    height: 60px;
}
.mat-grid-tile {
    color: #5b6572;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 1%;
}
.values .mat-grid-tile {
    filter: grayscale(70%);
}
.values .mat-grid-tile:hover {
    filter: grayscale(0%)
}
.mat-grid-tile div {
    position: absolute;
}
.mat-grid-tile:hover div, .mat-grid-tile:hover a {
    background : #5b6572;
    color: #d7afaf;
    cursor: pointer;
}
.mat-grid-tile a {
    background: #d7afaf;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.mat-expansion-panel-content .mat-expansion-panel-body p{
    background: rgba(91, 101, 114, 0.277)!important;
    color: #313b47!important;
}
.title {
    top: 15px;
    left: 25px;
}
.subtitle {
    bottom: 20px;
    left: 26px;
    font-size: 14px;
    font-style: italic;
    font-weight: 50;
}
.slideshow {
    max-width: 100%;
    height: 40vw;
    margin: 1% auto;
    border-radius: 2px;
    overflow: hidden;
}
.background {
    background: #fff;
    margin-bottom: 1%;
}
.mat-expansion-panel {
    background: #d7afaf;
    color: #5b6572;
    display: inline;
}

.mat-expansion-panel:hover, .mat-expansion-panel:focus {
    background: #5b6572;
}
.mat-expansion-panel-header {
    height: 60px!important;
    background: #d7afaf;
    color: #5b6572;
    font-size: 16px;
}
.mat-expansion-panel-header:hover, .mat-expansion-panel-header:focus {
    background: #5b6572!important;
    color:#d7afaf!important;
}
.mat-expansion-panel-header:hover .mat-expansion-panel-header-title,.mat-expansion-panel-header:focus .mat-expansion-panel-header-title{
    color:#d7afaf!important;
}
.mat-expansion-panel-header-title {
    color: #5b6572;
}


.values .mat-grid-tile {
    border-radius: 2px;
    overflow: hidden;
}
.values .mat-card {
    color: rgba(0, 0, 0, 0.815);
    text-transform: capitalize;
    background:rgba(255, 255, 255, 0.5);
    padding: 5%;
    display: flex;
    font-weight: 100;
    flex-grow: .5;
    justify-content: center;
}
.values .mat-grid-tile:hover .mat-card {
    color: #d7afaf;
    background: rgba(0,0,0,.5);
}
.values .mat-card-content {
    font-size: 1.2em!important;
    text-align: center;
}

@media (max-width:800px) {
    .values .mat-card-content {
        font-size: 1em!important;
    }
    .slideshow {
        height: 60vw;
    }
}
@media (max-width:600px) {
    .mat-expansion-panel-header {
        height: 56px!important;
    }   
}
